@import "tailwindcss";

@source "../index.html";
@source "../index.tsx";
@source "../App.tsx";
@source "../pages/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../context/**/*.{js,ts,jsx,tsx}";
@source "../hooks/**/*.{js,ts,jsx,tsx}";
@source "../services/**/*.{js,ts,jsx,tsx}";
@source "../utils/**/*.{js,ts,jsx,tsx}";

